    a {
      text-decoration: none
    }

    a:link {
      color: black;
    }

    a:visited {
      color: black;
    }

    a:hover {
      color: #9D9D9D;
    }

    a:active {
      color: #D7D7D7;
    }